table{
    background-color: #f2f2f2;
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
}

th{
    background-color: black;
    color: white;
}

table, th{
    border: 1px solid;
}

th, td{
    padding: 5px;
}

form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select, input[type=number] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}